.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(95, 95, 95, 0.856);
  z-index: 99;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  border-radius: 10px;
  background-color: rgb(253, 253, 253);
  z-index: 100;
  overflow-y: auto;
  max-height: 80vh;
}

@media (max-width: 1073px) {
  .modal {
    width: 80%;
  }

  .responseModal {
  }

  .responseModalAbsolute {
  }
}

@media (max-width: 815px) {
  .modal {
    top: 50%;
    max-height: 90vh;
  }

  .noExtraHeight {
    height: 37vh;
    overflow-y: hidden;
  }

  .responseModal {
    width: 80%;
  }

  .responseModalAbsolute {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .modal {
    width: 95%;
    overflow-y: scroll;
    height: 95vh;
    padding: 10px;
  }
  .responseModal {
    width: 95%;
  }
  .responseModalAbsolute {
    width: 95%;
  }
}

.responseModal {
  padding-top: 20px;
  border-radius: 10px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.responseModalAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  border-radius: 10px;
  background-color: rgb(253, 253, 253);
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.responseModal img {
  width: 90px;
  margin-bottom: 25px;
}

.responseModalAbsolute img {
  width: 90px;
  margin-bottom: 25px;
}

.responseModal p {
  font-weight: 600;
  font-size: 20px;
}

.responseModalAbsolute p {
  font-weight: 600;
  font-size: 20px;
}

.responseButton {
  width: 100%;
}

.shrunk {
  width: 25%;
}

.formHeading {
  border-bottom: 1px solid #b3acac;
}

.formHeading h4 {
  margin-bottom: 5px;
}

.formInputFlexbox {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.formInputFlexbox .title {
  margin-bottom: 10px;
  flex: 60%;
}

.formInputFlexbox .input {
  flex: 40%;
}
