.container {
  height: 89.5vh;
  background-color: #ffffff;
  width: 100%;
  overflow: auto;
}

.container input::placeholder {
  font-style: italic;
}

.container input {
  font-weight: 500;
}

.heading {
  padding: 15px;
  padding-left: 0;
  margin: 15px 0;
}

.section {
  margin-bottom: 20px;
}

.section h4 {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 2px solid #000000;
}

.button {
  margin-bottom: 20px;
}

@media (max-width: 550px) {
  .container {
    height: 91.1vh;
    padding-left: 50px;
    overflow-y: auto;
  }
  label {
    margin-top: 15px;
  }
}
