.header {
  background-color: #ffffff;
  padding: 0vh 16%;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  flex: 90%;
  width: 80%;
  align-items: center;
  padding: 15px;
}

.titleContainer img {
  width: 100px;
  height: auto;
  margin-right: 15px;
}

.titleText {
  margin-top: 10px;
  line-height: 20px;
  font-weight: 500;
}

.titleTextBold {
  font-weight: 700;
}

.backArrow {
  flex: 10%;
  width: 20%;
}

.backArrow img {
  padding-left: 15px;
  transition: all 0.3s;
}

.backArrow img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 1073px) {
  .titleContainer {
    margin-left: 20px;
  }
}
@media (max-width: 815px) {
}
@media (max-width: 550px) {
  .header {
    padding: 0 0%;
  }
  .titleContainer {
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    flex: 90%;
    width: 90%;
    align-items: center;
  }
  .titleContainer img {
    height: 60px;
    width: auto;
    margin-left: 15px;
  }
  .backArrow {
    flex: 10%;
    width: 10%;
  }

  .backArrow img {
    width: 40px;
    height: auto;
  }
  .titleText {
    margin-left: 15px;
    margin-top: 15px;
    line-height: 18px;
    font-size: 12px;
    font-weight: 600;
  }
}

@media (max-width: 430px) {
  .header {
    padding: 0 0%;
  }
  .titleContainer {
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    flex: 90%;
    width: 90%;
    align-items: center;
  }
}
