* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: linear-gradient(
      179.92deg,
      rgba(28, 153, 63, 0.45) 49.95%,
      rgba(28, 153, 63, 0) 99.93%
    ),
    url('./Assets/Pictures/landingBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: #000;
}
